<!DOCTYPE html>
<html lang="en">
<head>
  <title>My App</title>
  
 
  <link rel="stylesheet" href="/styles/userlogin.css">
</head>
<body>
    <div >
    <%- body %> 
  </div>
  
  </body>
